html {
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.4rem;
}

.body {
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
  width: 100%;
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.contact {
  position: relative;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6553d;
  font-family: 'Open Sans';
  font-size: 1.3rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact .contact__info {
  color: white;
}

.contact .contact__info a {
  margin-right: 0.2rem;
  color: white;
  text-decoration: none;
}

.contact .contact__input {
  position: relative;
  width: 350px;
  height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__input input {
  position: absolute;
  bottom: 0;
  width: 350px;
  left: 0;
  height: 24px;
  border: none;
  border-radius: 0.2rem;
  margin: auto 0;
}

.contact .contact__link {
  padding: 0;
  margin: 0;
  color: white;
}

.contact .contact__link .contact__link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.contact .contact__link .contact__link__list li {
  margin-right: 3px;
  text-decoration: none;
  height: 100%;
}

.contact .contact__link .contact__link__list li a {
  text-decoration: none;
  color: white;
  margin-left: 4px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.header .header__img {
  width: 190px;
  height: 80px;
}

.header .header__icon {
  width: 190px;
  heigth: 80px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d4adad;
  padding: 5px 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  z-index: 4;
  top: 0px;
}

.header__container {
  width: 1200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  margin-left: 80px;
}

.header__img {
  width: 148px;
  height: 80px;
  padding: 0 15px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 760px;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.header__menu__list {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.header__menu__list__children {
  display: block;
  margin-top: 30px;
  padding: 0;
  width: 200px;
  height: 248x;
  font-weight: normal;
  list-style: none;
  border: 1px solid whitesmoke;
}

.header__list__children {
  font-family: 'Open sans';
  padding-top: 10px;
  position: absolute;
  display: block;
  width: 200px;
  height: 248px;
  display: none;
}

.header__children {
  background-color: white;
  display: block;
  position: relative;
  width: 198px;
  height: 41px;
  margin-left: 6px;
}

.header__menu__list.has_child:hover .header__list__children {
  display: block;
}

.header__children:hover {
  background-color: whitesmoke;
}

.header__icons {
  width: 190px;
  height: 80px;
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  position: relative;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon .preson {
  height: 90px;
}

.header__icon:hover .header__icon__login {
  display: block;
  -webkit-animation: HoverMove;
          animation: HoverMove;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.header__icon__login {
  position: absolute;
  width: 200px;
  height: 83px;
  list-style: none;
  background-color: white;
  border-top: 1px solid plum;
  margin: 0;
  padding: 0;
  top: 83px;
  left: -60px;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__icon__login .header__login {
  color: black;
  width: 198px;
  height: 32px;
  padding: 0 15px;
  font-size: 1.4rem;
}

.header__icon__login .header__login a {
  text-decoration: none;
  color: black;
}

.header__status {
  width: 270px;
  height: 110px;
  border-top: 2px solid #f7553d;
  position: absolute;
  top: 80px;
  left: -160px;
  display: none;
  background-color: white;
}

.header__status .shopping__status {
  width: 268px;
  height: 38px;
  padding: 10px;
  text-align: center;
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #f3f3f3;
}

.header__status .header__return {
  width: 252px;
  height: 53px;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top: 1px thin #eee;
  line-height: normal;
  text-align: center;
}

.header__status .header__return .return__text {
  background-color: #f7553d;
  width: 175px;
  height: 33px;
  border: none;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__status .header__return .text {
  width: 90px;
  height: 17px;
  text-transform: uppercase;
  color: white;
}

.cart:hover .header__status {
  display: block;
  -webkit-animation: HoverMove;
          animation: HoverMove;
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
}

@-webkit-keyframes HoverMove {
  0% {
    top: -60px;
  }
  100% {
    top: 100px;
  }
}

@keyframes HoverMove {
  0% {
    top: -60px;
  }
  100% {
    top: 100px;
  }
}

.transport__info {
  width: 100%;
  margin-top: 20px;
  height: 85px;
  border-bottom: 1px solid #e1e1e1;
}

.transport__info .transport__container {
  width: 100%;
}

.transport__info .transport__container .transport__row {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transport__item {
  width: 285px;
  margin: 0 5px;
}

.transport__item .img__and__content {
  width: 255px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transport__item .img__and__content .transport__img {
  margin-right: 15px;
}

.transport__item .img__and__content .transport__content span {
  font-size: 1.7rem;
  font-weight: bold;
}

.transport__item .img__and__content .transport__content p {
  color: #bebebe;
  font-size: 1.2rem;
}

.category__product {
  width: 100%;
  padding-top: 10px;
}

.category__product .category__container {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.category__item {
  width: 350px;
  position: relative;
  overflow: hidden;
}

.category__item .category__banner {
  text-decoration: none;
  width: 100%;
  color: black;
  font-size: 1.7rem;
}

.category__item .category__banner .category__img {
  z-index: 4;
}

.category__item .category__banner .category__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.category__item .category__banner .category__overlay .category__content {
  position: absolute;
  width: 80%;
  top: 30px;
  left: 30px;
  height: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: none;
}

.category__item .category__banner .category__overlay h2 {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
}

.main__product {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 20px;
}

.main__product .main__product__header {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.main__product .main__product__header h5 {
  font-size: 2.4rem;
}

.main__product__list__container {
  max-width: 100%;
}

.main__product__list__container .main__product__list {
  margin: 0 auto;
  font-size: 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.main__product__list__container .main__product__list .main__product__item {
  font-size: 1.4rem;
  padding: 7px 14px;
  font-family: 'Open Sans';
}

.main__product__list__container .main__product__list .main__product__item:hover {
  color: black;
  cursor: pointer;
}

.product__body__section {
  width: 100%;
  padding-top: 10px;
}

.product__body__section .product__body__container {
  max-width: 1140px;
  margin: 0 auto;
}

.product__body__section .product__body__container .product__body__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.img-affect {
  width: 285px;
  height: 321px;
  position: relative;
}

.img__container {
  position: relative;
  padding: 0 15px;
  font-size: 1.4rem;
  color: #333333;
  font-family: 'Open Sans';
}

.img__info {
  text-align: center;
}

.info__hover {
  width: 240px;
  position: relative;
  display: block;
  opacity: 0;
}

.eye__shopping__cart {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.item__container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  background-color: #f7553d;
  width: 120px;
  height: 20px;
  color: white;
  font-size: 1.1rem;
  position: relative;
  top: -50px;
  text-decoration: none;
  display: none;
}

.hover__affect {
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-shadow: #cccccc;
          box-shadow: #cccccc;
}

.hover__affect i {
  color: black;
}

.hover__affect:hover .info {
  display: block;
}

.hover__affect:hover i {
  color: #f7553d;
}

.hover__affect .fa .hover__box .spin__hover {
  display: block;
}

.hover__box {
  position: absolute;
  top: 14px;
  left: 55px;
  width: 10px;
  height: 10px;
  background-color: #f7553d;
  display: block;
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
}

.spin__box {
  position: absolute;
  top: 14px;
  left: 55px;
  width: 10px;
  height: 10px;
  background-color: #f7553d;
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
  display: block;
}

.info:hover p {
  text-decoration: none;
  color: white;
}

.img__container:hover .info__hover {
  display: block;
  top: -55px;
  opacity: 1;
  -webkit-animation: HoverMove 500ms;
          animation: HoverMove 500ms;
}

@keyframes HoverMove {
  0% {
    top: -5px;
  }
  100% {
    top: -60px;
  }
}

.brand__name__section {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.brand__name__section .brand__name__header h2 {
  font-size: 3rem;
  font-weight: bold;
}

.slick__list__slide {
  max-width: 1140px;
  height: 135px;
  margin: 0 auto;
}

.slick__list__slide .slick__slide__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
  overflow: hidden;
}

.slick__list__slide .slick__slide__img .slick__slide__item {
  width: 180px;
  margin-left: 12px;
}

.body__btn-social {
  width: 1120px;
  height: 75px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.body__email__info {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.body__email__info > p {
  padding: 0;
  margin: 0 2px;
  font-size: 14px;
  font-weight: bold;
}

.social__input {
  width: 414px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__input > input {
  width: 80%;
  margin-right: 3px;
  border: 1px solid #eeeeee;
}

.validate__btn {
  width: 55px;
  height: 32px;
  background-color: #f7553d;
  border-radius: 2px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon {
  width: 65px;
  height: 40px;
  border-radius: 2px;
  margin-left: 2px;
  cursor: pointer;
}

.footer {
  position: relative;
  background-color: #232323;
  color: #ffffff;
  border-top: 5px solid #000;
  font-famliy: 'Open Sans';
  display: block;
}

.footer .footer__main__form {
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer .footer__container {
  width: 100%;
}

.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__row .footer__main__info {
  font-size: 1.4rem;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: normal;
  font-family: 'Open Sans';
}

.footer .footer__row .footer__main__info p {
  margin: 14px 0;
}

.footer .footer__row .footer__main__info a {
  text-decoration: none;
  color: white;
  margin: 14px 0;
}

.footer .footer__row .footer__main__info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer__row .footer__main__info ul li {
  margin: 5px 0;
}

.footer .footer__row .footer__main__info ul li a {
  margin-left: 5px;
}

.footer .footer__contact {
  padding: 10px 0;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 14px;
}

.footer .footer__contact .footer__contact__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

.footer .footer__contact .footer__contact__container .footer__contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__contact .footer__contact__container .footer__contact__items a {
  text-decoration: none;
  color: white;
}

.footer .footer__contact .footer__contact__container .footer__contact__items .main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer .footer__contact .footer__contact__container .footer__contact__items .main__list .footer__intro__link:before {
  content: '/';
  position: absolute;
  top: 0;
  left: 8px;
}

.footer .footer__contact .footer__contact__container .footer__contact__items .footer__location {
  right: 0;
  text-align: right;
}

.footer__list {
  list-style: none;
  text-align: left;
}
/*# sourceMappingURL=MainPage.css.map */